<ion-view view-title="Login" class="login-wrapper">
  <ion-content class="padding-top">
    <form name="login-form" class="login-content">
      <h1 class="logo">Voyo</h1>
      <div class="list">
        <label class="item item-input item-floating-label">
          <span class="input-label">Email</span>
          <input type="email" name="email" placeholder="Email" ng-model="user.email">
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Password</span>
          <input type="password" name="password" placeholder="Password" ng-model="user.password">
        </label>
      </div>
      <button class="button button-block button-positive" ng-click="signIn()">
        Login
      </button>
      <button class="button button-block button-facebook" ng-click="socialLogin('facebook')">
        <i class="icon ion-social-facebook"></i> Facebook
      </button>
      <button class="button button-block" ng-click="createUser()">
        Register
      </button>
    </form>
  </ion-content>
</ion-view>
