$facebookColor: #3b5998;
$twitterColor: #55acee;
.facebook-text {
  color: $facebookColor;
}
.facebook-bg {
  background-color: $facebookColor;
}
.twitter-text {
  color: $twitterColor;
}
.twitter-bg {
  background-color: $twitterColor;
}
