.login-wrapper {
  .login-form {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    background: #000;
    .form {
      background: #fff;
      z-index: 1;
      .list {
        background: #fff;
      }
      .button-facebook {
        i {
          position: absolute;
          left: 16px;
        }
      }
    }
  }
}
