.card {
  margin: 0;
}
.story-card {
  .card {
    .item {
      &.header {
        display: flex;
        justify-content: space-between;
      }
      &.item-body {
        .actions {
          display: flex;
          > a {
            &.location {
              flex-grow: 1;
              text-align: right;
            }
          }
        }
      }
    }

  }
}
