$transition-length: 3s;
$transition-ease: linear;
.image-swapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  img {
    width: 100%;
    position: absolute;
    opacity: 0;
    transition: opacity $transition-length $transition-ease;
    &.active {
      opacity: 1;
    }
  }
  .text-container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    .text {
      font-family: 'Damion';
      font-size: 100px;
      text-align: center;
      transition: color $transition-length $transition-ease;
      width: 100%;
      &.dark {
        color: #333;
      }
      &.light {
        color: #fff;
      }
    }
  }

}
