<div class="list card">

  <div class="item" ion-affix data-affix-within-parent-with-class="card">
    <h2>{{story.title}}</h2>
  </div>

  <div class="item item-body">
    <img class="full-image" ng-src="{{story.media}}" ng-if="!isVideo()">
    <video-player video-url="{{story.media}}" ng-if="isVideo()"></video-player>
    <p>{{story.caption}}</p>
    <div class="actions">
      <a class="subdued">1 Like</a>
      <a class="subdued">5 Comments</a>
      <a class="balanced location">
        <span>{{story.location.name}}</span>
        <i class="icon ion-ios-location"></i>
      </a>
    </div>
  </div>

  <div class="item tabs tabs-secondary tabs-icon-left">
    <div class="tab-item" href="#">
      <i class="icon ion-thumbsup"></i>
      Like
    </div>
    <div class="tab-item" href="#">
      <i class="icon ion-chatbox"></i>
      Comment
    </div>
    <share-button></share-button>
  </div>

</div>
