<image-swapper class="image-swapper" text-str="'Voyo'"></image-swapper>
<form class="form" name="form" class="login-content">
  <div class="list">
    <label class="item item-input item-floating-label">
      <span class="input-label">Email</span>
      <input type="email" name="email" placeholder="Email" ng-model="user.email">
    </label>
    <label class="item item-input item-floating-label">
      <span class="input-label">Password</span>
      <input type="password" name="password" placeholder="Password" ng-model="user.password">
    </label>
  </div>
  <button class="button button-block button-positive" on-tap="signIn()">
    Login
  </button>
  <button class="button button-block button-facebook facebook-text" on-tap="socialLogin('facebook')">
    <i class="icon ion-social-facebook"></i> Facebook
  </button>
  <button class="button button-block" on-tap="createUser()">
    Register
  </button>
</form>
