<div class="list card">

  <div class="item">
    <h2>
      <label class="item item-input">
        <input type="text" placeholder="Voyo title..." ng-model="voyo.title">
      </label>
    </h2>
  </div>

  <div class="item item-body">
    <card-preview-grid voyo="voyo" chapters="chapters" editable="true"></card-preview-grid>
    <p>
      <label class="item item-input">
        <textarea placeholder="Enter caption..." ng-model="voyo.caption"></textarea>
      </label>
    </p>
    <p>
      <a href="#" class="subdued">
        <i class="icon ion-ios-location"></i>
        <ion-spinner icon="ripple" ng-if="!voyo.location.name"></ion-spinner>
        <span>{{voyo.location.name}}</span>
      </a>
    </p>

  </div>

</div>
