.login-wrapper {
  .scroll-content {
    @include flex-column();
    justify-content: center;
    .login-content {
      .logo {
        text-align: center;
      }

      .list {
        background: #fff;
      }
    }
  }
}
